
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none !important;
}
marquee{
    background:linear-gradient(purple,yellow);
    font-size: 40px;
}
.headertop {
    text-decoration: none;
    background-color: #212121;
    padding: 5px 0;
    font-size:15px;
}
.topleft{
    display: flex;
    margin: px;
    align-items: center;
    height: 100%;
}
.topleft a{
    color: white ;
    margin: 0 10px;
    text-decoration: none;
}

.topright{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   text-decoration: none;
}
.socialicon{
    margin-left:15px ;
}
.socialicon a{
    color: #fff;
    margin: 5px;
    font-size: 18px;
}

.headertop a{
    color: #fff;
    font-size: 20px;
}
.searchForm{
    width: 40%;
    
}


.s1{
    margin-left: 10px;
}
@media screen and (max-width:760px) {
    .searchForm{
        width: 10px;
        margin-left: -14px;
    }
    .rightside{
        margin-top: 10px;
    }


}
.rightside{
    margin-left: 20px;
}
.headernav li.nav-item .nav-link{
    color: #fff;
    font-size: 1rem;
    margin: 15px;
}
.headernav li.nav-item .nav-link:hover{
    background-color: white;
    color: black;
    border-radius: 30px ;

}
.headernav  {
  background-color: black;
}

.rightside a{
    display: inline-block;
   color: #fff;
   margin: 0 10px;
   font-size: 20px;
   
}
.headnav{
margin-right: -100px;
}





/* header end */



.bgimg{
  background: url("/images/bgimg.jpg") top center;
  background-size: cover;
  
}

/* carousel/slider strat */
.sliderimg img{
    width: 100%;
    height: auto;
}



.carousel-item {
    width: 100%;
    height:500px;
}

@media screen and (max-width:768px) {
    .carousel-item {
        width: 100%;
        height:auto;
    }
}
/* slider end */

/* product */
.hover a{
       color: white;
       margin: 10px;
       font-size: 20px;
       opacity: 0;
       transition: all 3s;
       
}
.hover:hover .div{
    opacity: 1;
}
.hover:hover a{
    opacity: 1;

}
.div{
    
    background-color:rgba(50, 50, 50, 0.5) ;
    opacity: 0;
}


.product a{
margin: 30px;
font-size: 20px;
color: red;
text-decoration: none;
}
.product a:hover{
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 50%;
}

/* latestproduct */
.cardhover:hover{
    background-color: rgb(233, 155, 168);
    font-size: 30px;
    transition: all 1s;
}
.latestproduct  img{
    height: 400px;
    width: 100%;
}

/* men women section */

.page img{
    height: 350px;
    width: 100%;
}


/* -----------------------------------------------*/
     /* product section start  */
 /*-----------------------------------------------*/
 .product_section .heading_container {
  margin-bottom: 25px;
}

.product_section .box {
          align-items: center;
  padding: 15px;
  margin-top: -6px;
  position: relative;
  overflow: hidden;
}


.product_section .box .img-box {
  background-color: #f8f8f8;
  width: 100%;
  height: 343px;
  display: flex;
  position: relative;
  padding: 15px;
 
}

.product_section .box .img-box img {
  height: 175px;
 width: 100%;
}
#imge{
    width: 100%;
    height: 317px;
}

.product_section .box .img-box .add_cart_btn {
  display: inline-block;
  width: 175px;
  text-align: center;
  height: 45px;
  line-height: 45px;
  background-color: #3a4468;
  color: #ffffff;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  z-index: 3;
}

.product_section .box .img-box .add_cart_btn:hover {
  background-color: #f3c93e;
  color: #ffffff;
}

.product_section .box .star_container {
  color: #f2b01e;
}

.product_section .box:hover .img-box .add_cart_btn {
  opacity: 1;
  visibility: visible;
}

.product_section .box:hover .img-box::before {
  opacity: .55;
}

.product_section .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}



.product_section .btn_box .view_more-link {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f3c93e;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #f3c93e;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product_section .btn_box .view_more-link:hover {
  background-color: transparent;
  color: #f3c93e;
}


.prod{
    margin-top: 170px;
}


.box{
  box-shadow: 1px 1px 10px 5px orange;
}
@media screen and (max-width:991px) {
  .shadow{
margin-bottom: 50px;
}
}

@media screen and (max-width:575px) {
  .shadowmb{
margin-bottom: 50px;
}

}

/* product info */

.seproduct{
   margin-top: 200px;

}
.small-img-group{
   display: flex;
   justify-content: space-between;
}

.small-img-col{
   flex-basis: 24%;
   cursor: pointer;
}

.seproduct select{
  display: block;
  padding: 5px 10px;
}

.seproduct input{
   width: 50px;
   height: 40px;
   padding-left: 10px;
   font-size: 16px;
   margin-right: 10px;

}

.seproduct input:focus{
   outline: none;
}

.buy-btn{
   background: chartreuse;
   opacity: 1;
   transition: 0.5s all;
   padding: 5px;

}





/*--------------------------------------------------------------
# why choose us start
--------------------------------------------------------------*/
.why_us_section {
    position: relative;
  }
  
  .why_us_section .heading_container {
    margin-bottom: 20px;
  }
  
  .why_us_section .box {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    padding: 25px 15px;
    border: 1px solid;
  }
  
  .why_us_section .box .img-box {
    height: 45px;
  }
  
  .why_us_section .box .img-box img {
    height: 100%;
  }
  
  .why_us_section .box .detail-box {
    margin-top: 15px;
  }
  
  .why_us_section .box .detail-box h5 {
    font-weight: bold;
    text-transform: uppercase;
  }
  /* why choose us end */




/*--------------------------------------------------------------
# Footer start
--------------------------------------------------------------*/
#footer {
    background: black;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #0c0b09;
    border-top: 1px solid #29251d;
    padding: 60px 0 30px 0;
  }

  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Playfair Display", serif;
    color: #fff;
  }
  
  .footer-info h3 span{
    color:#dda646;;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #cfbc0e;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    
  }
  
  #footer .footer-top .social-links a:hover {
    background: #cf19b7;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 21px;
    font-weight: 600;
    color:#dda646 ;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #cda45e;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  
  
  #footer .footer-top .footer-links ul a {
    color: rgb(255, 255, 255);
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #cda45e;
  }
  /* -------------------footer end------------------------------- */
  
  



/* about us page */
/* .about{
    background-image: url('images/logo.png');
     box-shadow: 4px 4px 4px 4px;
}
.aboutus h3{
    background-color: yellow;
    border-radius: 50%;
    font-family: cursive;
    color: black;
    
} */

/* About us page end */









